container_commands:
  01-create-storage-dirs:
    command: |
      mkdir -p /var/app/staging/storage/framework/{cache,sessions,views}
      mkdir -p /var/app/staging/storage/logs
      mkdir -p /var/app/staging/bootstrap/cache
      chown -R webapp:webapp /var/app/staging/storage /var/app/staging/bootstrap/cache
      chmod -R 775 /var/app/staging/storage /var/app/staging/bootstrap/cache

  02-clear-caches:
    command: |
      cd /var/app/staging
      php artisan config:clear
      php artisan route:clear
      php artisan view:clear

  03-rebuild-caches:
    command: |
      cd /var/app/staging
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
