files:
  "/etc/httpd/conf.d/00_laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory "/var/app/current/public">
          AllowOverride All
          Require all granted
      </Directory>

      DocumentRoot /var/app/current/public

commands:
  01_fix_permissions:
    command: |
      chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache
      chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
