# .ebextensions/01_laravel.config

files:
  "/etc/httpd/conf.d/00_laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      DocumentRoot /var/app/current/public

      <Directory /var/app/current/public>
          AllowOverride All
          Options Indexes FollowSymLinks
          Require all granted
      </Directory>

commands:
  01_fix_permissions:
    command: |
      chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache
      chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
